<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS (Bootswatch) -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" integrity="sha384-1loAZFX3mCUsfTeh3t/iVDSMKFWJ0LQQfcjZePzK4zcG7buv2kNbm9vKEJkV1mnN" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
    
    <title>Service Log</title>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/records">
        <img src="" height="50" width="40" title="Logo" alt="Logo"> <!--JSD-->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/records">All Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/records/new">Add New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Sign Out &nbsp;&nbsp; <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
      </div>
      </div>
</nav>

{{{ body }}}



































    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>