<h1 class="display-1">Edit record page</h1>


<form action="/records/{{ records._id }}?_method=PUT" method="POST">
        <input type="text" name="serviceRecord[name]" placeholder="enter name" value="{{ records.name}}">
        <input type="text" name="serviceRecord[last_name]" placeholder="enter last name" value="{{ records.last_name}}">
        <input type="number" name="serviceRecord[age]" placeholder="enter last name" value="{{ records.age}}">
    <button type="submit">Save</button>
</form>