<h1 class="display-1">new record page</h1>


<form action="/records" method="POST">
        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="lastName" placeholder="enter last name">
    <button type="submit">Save</button>
</form>