.title {
    text-align: center;
    height: 150px;
    padding-top: 1.5em;
}

.newAndEdit {
    margin-bottom: 3em;    
}

.items {
    margin: 1em 0;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.2)!important
}

#showBtns a {
    margin-right: 1em;
    width: 100px;
}

#showBtns button {
    width: 100px !important;
}

.nav-item {
    margin-left: 2em;
}

.red-star {
    color: red;
}

#login-form {
    padding-left: 30%;
    padding-right: 30%;
}
h6 {
    font-weight: bold;
}

@media (max-width: 1023px) {
    #login-form {
        padding: 0;
    }
}

th {
    background: #2C3E50;
    color: white;
}

a {
    color: tomato;
}

input[type=datetime-local]::-webkit-inner-spin-button, 
input[type=datetime-local]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}

label {
    font-weight: bold;
}



/* ADDING CHECKLIST TO THE RECORD */

